<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>

<br />
<div class="container" style="margin-top: 0%">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12">
      <!-- Header Section -->
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding-bottom: 3%;
        "
      >
        <img
          src="assets/images/inscri2.png"
          width="8%"
          alt="Icône"
          class="icon-img mb-2"
          style="margin-right: 10px"
        />
        <h2 style="margin: 0" class="text-black">Liste d'inscription</h2>
      </div>

      <!-- Card Section -->
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <!-- Radio Buttons -->
            <div class="form-check mx-4">
              <input
                class="form-check-input"
                type="radio"
                name="registrationStatus"
                id="neverRegistered"
                value="neverRegistered"
                (change)="showForm('neverRegistered')"
              />
              <label class="form-check-label" for="neverRegistered">
                Jamais inscrit
              </label>
            </div>
            <!-- Radio 2 -->

            <div class="form-check mx-4">
              <input
                class="form-check-input"
                type="radio"
                name="registrationStatus"
                id="visitorWithoutRegistration"
                value="visitorWithoutRegistration"
                (change)="showForm('visitorWithoutRegistration')"
              />
              <label class="form-check-label" for="visitorWithoutRegistration">
                Visiteur sans inscription ou Réinscription
              </label>
            </div>
          </div>

          <br />
          <!-- Conditional Form -->
          <form
            *ngIf="selectedOption === 'neverRegistered'"
            (ngSubmit)="onSubmit()"
            #registrationForm="ngForm"
          >
            <div class="d-flex justify-content-center mt-3">
              <div class="hr-container">
                <hr
                  style="
                    border: 4px double #008cc7;
                    width: 100%;
                    margin: auto;
                    border-radius: 100px;
                  "
                />
                <span class="hr-text"
                  ><i class="fas fa-user-plus"></i> les informations
                  personnelles</span
                >
              </div>
            </div>
            <br /><br />
            <div class="row mb-3">
              <!-- Nom -->
              <div class="col-md-6">
                <label for="nom" class="form-label"
                  >Nom <span class="required">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="nom"
                  placeholder="Entrez le nom"
                  [(ngModel)]="formDataEtu.nom"
                  name="nom"
                  #nomInput="ngModel"
                  required
                />
                <div
                  *ngIf="nomInput.invalid && nomInput.touched"
                  class="text-danger"
                >
                  Nom est obligatoire.
                </div>
              </div>

              <!-- Prénom -->
              <div class="col-md-6">
                <label for="prenom" class="form-label"
                  >Prénom <span class="required">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="prenom"
                  placeholder="Entrez le prénom"
                  [(ngModel)]="formDataEtu.prenom"
                  name="prenom"
                  #prenomInput="ngModel"
                  required
                />
                <div
                  *ngIf="prenomInput.invalid && prenomInput.touched"
                  class="text-danger"
                >
                  Prénom est obligatoire.
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <!-- Établissement -->
              <div class="col-md-6">
                <label for="addEtablissement" class="form-label">
                  Établissement <span class="required">*</span>
                </label>
                <select
                  class="form-select"
                  id="addEtablissement"
                  name="etablissement"
                  [(ngModel)]="formDataEtu.etablissement.id"
                  #etablissementInput="ngModel"
                  required
                >
                  <option value="" disabled>Choisir un établissement</option>
                  <option *ngFor="let et of etablissements" [value]="et.id">
                    {{ et.nom }}
                  </option>
                </select>
                <div
                  *ngIf="
                    etablissementInput.invalid && etablissementInput.touched
                  "
                  class="text-danger"
                >
                  Établissement est obligatoire.
                </div>
              </div>

              <!-- Niveaux -->
              <div class="col-md-6">
                <label for="addNiveaux" class="form-label">
                  Niveaux <span class="required">*</span>
                </label>
                <select
                  class="form-select"
                  id="addNiveaux"
                  name="niveaux"
                  [(ngModel)]="formDataEtu.niveau.id"
                  #niveauInput="ngModel"
                  required
                >
                  <option value="" disabled>Choisir un niveau</option>
                  <option *ngFor="let niveau of niveaux" [value]="niveau.id">
                    {{ niveau.nom }}
                  </option>
                </select>
                <div
                  *ngIf="niveauInput.invalid && niveauInput.touched"
                  class="text-danger"
                >
                  Niveau est obligatoire.
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <!-- Nom de mère et téléphone de mère -->
              <div class="col-md-6">
                <label for="nomMere" class="form-label">Nom de Mère</label>
                <input
                  type="text"
                  class="form-control"
                  id="nomMere"
                  placeholder="Entrez le nom de la mère"
                  [(ngModel)]="formDataEtu.nomMere"
                  name="nomMere"
                />
              </div>
              <div class="col-md-6">
                <label for="telephoneMere" class="form-label"
                  >Téléphone de Mère</label
                >
                <input
                  type="tel"
                  class="form-control"
                  id="telephoneMere"
                  placeholder="Entrez le téléphone de la mère"
                  [(ngModel)]="formDataEtu.telMere"
                  name="telephoneMere"
                />
              </div>
            </div>

            <div class="row mb-3">
              <!-- Nom de père et téléphone de père -->
              <div class="col-md-6">
                <label for="nomPere" class="form-label">Nom de Père</label>
                <input
                  type="text"
                  class="form-control"
                  id="nomPere"
                  placeholder="Entrez le nom du père"
                  [(ngModel)]="formDataEtu.nomPere"
                  name="nomPere"
                />
              </div>
              <div class="col-md-6">
                <label for="telephonePere" class="form-label"
                  >Téléphone de Père</label
                >
                <input
                  type="tel"
                  class="form-control"
                  id="telephonePere"
                  placeholder="Entrez le téléphone du père"
                  [(ngModel)]="formDataEtu.telPere"
                  name="telephonePere"
                />
              </div>
            </div>
            <div class="row mb-3">
              <!-- Téléphone -->
              <div class="col-md-12">
                <label for="telephone" class="form-label">Téléphone</label>
                <input
                  type="tel"
                  class="form-control"
                  id="telephone"
                  placeholder="Entrez le numéro de téléphone"
                  [(ngModel)]="formDataEtu.telephone"
                  name="telephone"
                />
              </div>
            </div>
            <div class="row mb-3">
              <!-- Commentaire -->
              <div class="col-md-12">
                <label for="commentaire" class="form-label">Commentaire</label>
                <textarea
                  class="form-control"
                  id="commentaire"
                  placeholder="Ajoutez un commentaire ici..."
                  rows="3"
                  [(ngModel)]="formDataEtu.commentaire"
                  name="commentaire"
                ></textarea>
              </div>
            </div>
            <br />
            <div class="hr-container">
              <hr
                style="
                  border: 4px double #008cc7;
                  width: 100%;
                  margin: auto;
                  border-radius: 100px;
                "
              />
              <span class="hr-text"
                ><i class="fa-solid fa-circle-plus"></i> Détails
                d'inscription</span
              >
            </div>
            <br /><br />
            <div class="row mb-3">
              <!-- Cours Dropdown -->
              <div class="col-md-6">
                <label for="cours" class="form-label"
                  >Cours <span class="required">*</span></label
                >
                <select
                  id="editCours"
                  class="form-select"
                  name="editCours"
                  [(ngModel)]="formDataIns.coursId"
                  required
                  #editCoursInput="ngModel"
                >
                  <option value="" disabled selected>Choisir un cours</option>
                  <option *ngFor="let course of cours" [value]="course.id">
                    {{ course.libelle }}
                  </option>
                </select>
                <div *ngIf="test.invalid && test.touched" class="text-danger">
                  Le choix du cours est obligatoire.
                </div>
              </div>

              <!-- Test Dropdown -->
              <div class="col-md-6">
                <label for="test" class="form-label"
                  >Test <span class="required">*</span></label
                >
                <select
                  class="form-select"
                  id="test"
                  [(ngModel)]="formDataIns.test"
                  name="test"
                  required
                  #test="ngModel"
                >
                  <option value="" disabled selected>Choisir un test</option>
                  <option value="Oui">Oui</option>
                  <option value="Non">Non</option>
                  <option value="Sans">Sans</option>
                </select>
                <div *ngIf="test.invalid && test.touched" class="text-danger">
                  Le choix du test est obligatoire.
                </div>
              </div>

              <!-- Group Dropdown -->
              <div class="col-md-6">
                <label for="group" class="form-label"
                  >Groupe <span class="required">*</span></label
                >
                <select
                  class="form-select"
                  id="group"
                  [(ngModel)]="formDataIns.groupeId"
                  name="group"
                  required
                  (change)="onGroupChange()"
                  #group="ngModel"
                >
                  <option value="" disabled selected>Choisir un groupe</option>
                  <option *ngFor="let gr of groupes" [value]="gr.id">
                    {{ gr.nomGroupe }}
                  </option>
                </select>
                <div *ngIf="group.invalid && group.touched" class="text-danger">
                  Le choix du groupe est obligatoire.
                </div>
              </div>

              <!-- profs Dropdown -->
              <div class="col-md-6">
                <label for="group" class="form-label"
                  >Profs <span class="required">*</span></label
                >
                <select
                  id="editProf"
                  class="form-select"
                  name="editProf"
                  [(ngModel)]="formDataIns.profId"
                  required
                  #editProfInput="ngModel"
                >
                  <option value="" disabled selected>Choisir un prof</option>
                  <option
                    *ngFor="let professor of profs"
                    [value]="professor.id"
                  >
                    {{ professor.nom }} {{ professor.prenom }}
                  </option>
                </select>
                <div
                  *ngIf="editProfInput.invalid && editProfInput.touched"
                  class="text-danger"
                >
                  Le prof est obligatoire.
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <!-- Mois Dropdown -->
              <div class="col-md-6">
                <label for="mois" class="form-label"
                  >Mois <span class="required">*</span></label
                >
                <select
                  class="form-select"
                  id="mois"
                  [(ngModel)]="formDataIns.mois"
                  name="mois"
                  required
                  #mois="ngModel"
                >
                  <option value="" disabled selected>Choisir un mois</option>
                  <option value="1">Janvier</option>
                  <option value="2">Février</option>
                  <option value="3">Mars</option>
                  <option value="4">Avril</option>
                  <option value="5">Mai</option>
                  <option value="6">Juin</option>
                  <option value="7">Juillet</option>
                  <option value="8">Août</option>
                  <option value="9">Septembre</option>
                  <option value="10">Octobre</option>
                  <option value="11">Novembre</option>
                  <option value="12">Décembre</option>
                </select>
                <div *ngIf="mois.invalid && mois.touched" class="text-danger">
                  Le choix du mois est obligatoire.
                </div>
              </div>
              <!-- Année Dropdown -->
              <div class="col-md-6">
                <label for="annee" class="form-label"
                  >Année <span class="required">*</span></label
                >
                <select
                  class="form-select"
                  id="annee"
                  [(ngModel)]="formDataIns.annee"
                  name="annee"
                  required
                  #annee="ngModel"
                >
                  <option value="" disabled selected>Choisir une année</option>
                  <option value="2024/2025">2024/2025</option>
                  <option value="2025/2026">2025/2026</option>
                  <option value="2026/2027">2026/2027</option>
                  <option value="2027/2028">2027/2028</option>
                  <option value="2028/2029">2028/2029</option>
                  <option value="2029/2030">2029/2030</option>
                  <option value="2030/2031">2030/2031</option>
                  <option value="2031/2032">2031/2032</option>
                  <option value="2032/2033">2032/2033</option>
                  <option value="2033/2034">2033/2034</option>
                  <option value="2034/2035">2034/2035</option>
                  <option value="2035/2036">2035/2036</option>
                  <option value="2036/2037">2036/2037</option>
                  <option value="2037/2038">2037/2038</option>
                  <option value="2038/2039">2038/2039</option>
                  <option value="2039/2040">2039/2040</option>
                  <option value="2040/2041">2040/2041</option>
                </select>
                <div *ngIf="annee.invalid && annee.touched" class="text-danger">
                  Le choix de l'année est obligatoire.
                </div>
              </div>
            </div>

            <!-- EDT -->
            <div class="mb-3" style="margin-top: 22px">
              <label for="editEmploiTemps" class="form-label">
                Emploi du Temps
              </label>
              <textarea
                class="form-control formtexterea"
                id="editEmploiTemps"
                name="editEmploiTemps"
                [(ngModel)]="formDataIns.emploidutemp"
                rows="5"
                placeholder="Saisir l'emploi du temps..."
              ></textarea>
            </div>
            <!-- Success message container -->
            <div class="container bootstrap snippets bootdey">
              <div
                *ngIf="successMessage"
                class="alert alert-success alert-white rounded mx-auto w-75"
                role="alert"
              >
                <div class="icon">
                  <i class="fa-solid fa-user-plus"></i>
                </div>
                <strong>Succès!</strong>
                {{ successMessage }}
              </div>
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="btn btn-primary-btn"
                [disabled]="registrationForm.invalid || isLoading"
                style="
                  max-width: 300px;
                  width: auto;
                  font-size: 17px;
                  padding: 5px 10px;
                  background-color: #e4c218;
                  border: 3px solid rgba(255, 242, 0, 0.721);
                  color: white;
                  font-weight: bolder;
                  border-radius: 100px;
                "
              >
                <ng-container *ngIf="!isLoading">
                  <i class="fa fa-save text-white"></i> S'inscrire
                </ng-container>
                <ng-container *ngIf="isLoading">
                  <i class="fa fa-spinner fa-spin text-white"></i> En cours...
                </ng-container>
              </button>
            </div>
          </form>

          <!--autre option-->
          <div *ngIf="selectedOption === 'visitorWithoutRegistration'">
            <div>
              <div class="card">
                <br />
                <div class="hr-container">
                  <hr
                    style="
                      border: 4px double #008cc7;
                      width: 100%;
                      margin: auto;
                      border-radius: 100px;
                    "
                  />
                  <span class="hr-text"
                    ><i class="fa-solid fa-list-check"></i> Liste des passagers
                    et etudiants
                  </span>
                </div>
                <div class="card-body">
                  <div
                    class="mb-2 d-flex justify-content-between align-items-center"
                  >
                    <div class="position-relative">
                      <span class="position-absolute search"
                        ><i class="fa fa-search"></i
                      ></span>
                      <input
                        class="form-control searchform w-100"
                        placeholder="Rechercher..."
                        [(ngModel)]="searchTerm"
                        (ngModelChange)="filterEtudiant()"
                      />
                    </div>
                  </div>

                  <!-- Table for displaying list of items with only the required attributes -->
                  <div
                    class="table-responsive table-container"
                    id="passagertable"
                  >
                    <div *ngIf="isLoading" style="text-align: center">
                      <div>
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Chargement...</span>
                        </div>
                      </div>
                    </div>
                    <table *ngIf="!isLoading" class="table" id="matieresTable">
                      <thead>
                        <tr>
                          <th><b>Date</b></th>
                          <!-- New Date column -->
                          <th><b>Nom</b></th>
                          <th><b>Prénom</b></th>
                          <th><b>Etablissement</b></th>
                          <th><b>Niveaux</b></th>
                          <th><b>Statue</b></th>
                          <th class="text-right"><b>Actions</b></th>
                          <!-- Align header to right -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of filteredEtudiant">
                          <td style="font-weight: 500">
                            <b style="color: #086081">
                              {{ item.dateEnregistrement }}</b
                            >
                          </td>
                          <td>{{ item.nom }}</td>
                          <td>{{ item.prenom }}</td>
                          <td>{{ item.etablissement.nom }}</td>
                          <td>{{ item.niveau.nom }}</td>
                          <td>
                            <span *ngIf="item.passage" class="badge-red"
                              >Passager</span
                            >
                            <span *ngIf="!item.passage" class="badge-green"
                              >Étudiant</span
                            >
                          </td>

                          <td
                            class="td-actions text-right d-flex justify-content-end"
                          >
                            <!-- Details Button -->
                            <button
                              type="button"
                              class="btn btn-info btn-round btn-just-icon"
                              data-bs-toggle="modal"
                              data-bs-target="#detailsModal"
                              (click)="openDetailsModal(item)"
                            >
                              <i
                                class="fa-solid fa-hand-pointer"
                                style="font-size: larger; color: #ffffff"
                              ></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- Modal for Viewing Details -->
                  <div
                    class="modal fade"
                    id="detailsModal"
                    tabindex="-1"
                    aria-labelledby="detailsModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" style="max-width: 60%">
                      <!-- Increased width -->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="detailsModalLabel">
                            <i class="fa fa-eye"></i> Détails de l'élément
                          </h1>
                          <br />
                          <br />

                          <!-- Close button that dismisses the current modal -->
                          <!-- <button
                            type="button"
                            class="btn-close text-white"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button> -->
                        </div>

                        <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row mb-2 date-highlight">
                              <div class="col-10">
                                <b
                                  ><i
                                    class="fa fa-calendar"
                                    style="margin-right: 5px"
                                  ></i
                                  >Date:</b
                                >
                                {{ selectedItem.dateEnregistrement }}
                              </div>
                            </div>
                            <br />
                            <!-- Display fields inline -->
                            <div class="row mb-2">
                              <div class="col-6">
                                <b>Nom:</b> {{ selectedItem.nom }}
                              </div>
                              <div class="col-6">
                                <b>Prénom:</b> {{ selectedItem.prenom }}
                              </div>
                            </div>
                            <br />
                            <div class="row mb-2">
                              <div class="col-6">
                                <b>Etablissement:</b>
                                {{ selectedItem.etablissement?.nom }}
                              </div>
                              <div class="col-6">
                                <b>Niveaux:</b> {{ selectedItem.niveau?.nom }}
                              </div>
                            </div>
                            <br />

                            <div class="row mb-2">
                              <div class="col-6">
                                <b>Téléphone:</b> {{ selectedItem.telephone }}
                              </div>
                              <div class="col-6">
                                <b>Nom de Père:</b> {{ selectedItem.nomPere }}
                              </div>
                            </div>
                            <br />

                            <div class="row mb-2">
                              <div class="col-6">
                                <b>Téléphone Père:</b>
                                {{ selectedItem.telPere }}
                              </div>
                              <div class="col-6">
                                <b>Nom de Mère:</b> {{ selectedItem.nomMere }}
                              </div>
                            </div>
                            <br />

                            <div class="row mb-2">
                              <div class="col-6">
                                <b>Téléphone Mère:</b>
                                {{ selectedItem.telMere }}
                              </div>
                              <div class="col-6"></div>
                            </div>
                            <br />

                            <!-- Add a row for Commentaire, not inline -->
                            <div class="mb-3">
                              <label for="commentaire" class="form-label"
                                ><b>Commentaire</b>:</label
                              >
                              <div class="comment-box">
                                <p class="comment-text">
                                  {{ selectedItem.commentaire }}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Card Container for Registration Form -->
                        <div
                          class="card"
                          style="max-width: 100%; border-radius: 15px"
                        >
                          <div class="card-body">
                            <form
                              #registrationForm="ngForm"
                              (ngSubmit)="onSubmitInsc()"
                              novalidate
                            >
                              <!-- Separator for details -->
                              <div class="hr-container">
                                <hr
                                  style="
                                    border: 4px double #008cc7;
                                    width: 100%;
                                    margin: auto;
                                    border-radius: 100px;
                                  "
                                />
                                <span class="hr-text">
                                  <i class="fa-solid fa-circle-plus"></i>
                                  Détails d'inscription
                                </span>
                              </div>
                              <br /><br />

                              <div style="margin-left: 3%; margin-right: 3%">
                                <!-- Cours et Test -->
                                <div class="row mb-3">
                                  <div class="col-md-6">
                                    <label for="editCours" class="form-label">
                                      Cours <span class="required">*</span>
                                    </label>
                                    <select
                                      id="editCours"
                                      class="form-select"
                                      name="editCours"
                                      [(ngModel)]="formDataIns.coursId"
                                      required
                                      #CoursInput="ngModel"
                                    >
                                      <option value="" disabled selected>
                                        Choisir un cours
                                      </option>
                                      <option
                                        *ngFor="let course of cours"
                                        [value]="course.id"
                                      >
                                        {{ course.libelle }}
                                      </option>
                                    </select>
                                    <div
                                      *ngIf="
                                        CoursInput.invalid && CoursInput.touched
                                      "
                                      class="text-danger"
                                    >
                                      Le choix du cours est obligatoire.
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <label for="test" class="form-label">
                                      Test <span class="required">*</span>
                                    </label>
                                    <select
                                      class="form-select"
                                      id="test"
                                      [(ngModel)]="formDataIns.test"
                                      name="test"
                                      required
                                      #test="ngModel"
                                    >
                                      <option value="" disabled selected>
                                        Choisir un test
                                      </option>
                                      <option value="Oui">Oui</option>
                                      <option value="Non">Non</option>
                                      <option value="Sans">Sans</option>
                                    </select>
                                    <div
                                      *ngIf="test.invalid && test.touched"
                                      class="text-danger"
                                    >
                                      Le choix du test est obligatoire.
                                    </div>
                                  </div>
                                </div>

                                <!-- Groupe et Prof -->
                                <div class="row mb-3">
                                  <div class="col-md-6">
                                    <label for="group" class="form-label">
                                      Groupe <span class="required">*</span>
                                    </label>
                                    <select
                                      class="form-select"
                                      id="group"
                                      [(ngModel)]="formDataIns.groupeId"
                                      name="group"
                                      required
                                      (change)="onGroupChange()"
                                      #group="ngModel"
                                    >
                                      <option value="" disabled selected>
                                        Choisir un groupe
                                      </option>
                                      <option
                                        *ngFor="let gr of groupes"
                                        [value]="gr.id"
                                      >
                                        {{ gr.nomGroupe }}
                                      </option>
                                    </select>
                                    <div
                                      *ngIf="group.invalid && group.touched"
                                      class="text-danger"
                                    >
                                      Le choix du groupe est obligatoire.
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <label for="editProf" class="form-label">
                                      Profs <span class="required">*</span>
                                    </label>
                                    <select
                                      id="editProf"
                                      class="form-select"
                                      name="editProf"
                                      [(ngModel)]="formDataIns.profId"
                                      required
                                      #editProfInput="ngModel"
                                    >
                                      <option value="" disabled selected>
                                        Choisir un prof
                                      </option>
                                      <option
                                        *ngFor="let professor of profs"
                                        [value]="professor.id"
                                      >
                                        {{ professor.nom }}
                                        {{ professor.prenom }}
                                      </option>
                                    </select>
                                    <div
                                      *ngIf="
                                        editProfInput.invalid &&
                                        editProfInput.touched
                                      "
                                      class="text-danger"
                                    >
                                      Le prof est obligatoire.
                                    </div>
                                  </div>
                                </div>

                                <!-- Année et Mois -->
                                <div class="row mb-3">
                                  <div class="col-md-6">
                                    <label for="annee" class="form-label">
                                      Année <span class="required">*</span>
                                    </label>
                                    <select
                                      class="form-select"
                                      id="annee"
                                      [(ngModel)]="formDataIns.annee"
                                      name="annee"
                                      required
                                      #annee="ngModel"
                                    >
                                      <option value="" disabled selected>
                                        Choisir une année
                                      </option>
                                      <option value="2024/2025">
                                        2024/2025
                                      </option>
                                      <option value="2025/2026">
                                        2025/2026
                                      </option>
                                      <option value="2026/2027">
                                        2026/2027
                                      </option>
                                      <option value="2027/2028">
                                        2027/2028
                                      </option>
                                      <option value="2028/2029">
                                        2028/2029
                                      </option>
                                      <option value="2029/2030">
                                        2029/2030
                                      </option>
                                      <option value="2030/2031">
                                        2030/2031
                                      </option>
                                      <option value="2031/2032">
                                        2031/2032
                                      </option>
                                      <option value="2032/2033">
                                        2032/2033
                                      </option>
                                      <option value="2033/2034">
                                        2033/2034
                                      </option>
                                      <option value="2034/2035">
                                        2034/2035
                                      </option>
                                      <option value="2035/2036">
                                        2035/2036
                                      </option>
                                      <option value="2036/2037">
                                        2036/2037
                                      </option>
                                      <option value="2037/2038">
                                        2037/2038
                                      </option>
                                      <option value="2038/2039">
                                        2038/2039
                                      </option>
                                      <option value="2039/2040">
                                        2039/2040
                                      </option>
                                      <option value="2040/2041">
                                        2040/2041
                                      </option>
                                    </select>
                                    <div
                                      *ngIf="annee.invalid && annee.touched"
                                      class="text-danger"
                                    >
                                      Le choix de l'année est obligatoire.
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <label for="mois" class="form-label">
                                      Mois <span class="required">*</span>
                                    </label>
                                    <select
                                      class="form-select"
                                      id="mois"
                                      [(ngModel)]="formDataIns.mois"
                                      name="mois"
                                      required
                                      #mois="ngModel"
                                    >
                                      <option value="" disabled selected>
                                        Choisir un mois
                                      </option>
                                      <option value="01">Janvier</option>
                                      <option value="02">Février</option>
                                      <option value="03">Mars</option>
                                      <option value="04">Avril</option>
                                      <option value="05">Mai</option>
                                      <option value="06">Juin</option>
                                      <option value="07">Juillet</option>
                                      <option value="08">Août</option>
                                      <option value="09">Septembre</option>
                                      <option value="10">Octobre</option>
                                      <option value="11">Novembre</option>
                                      <option value="12">Décembre</option>
                                    </select>
                                    <div
                                      *ngIf="mois.invalid && mois.touched"
                                      class="text-danger"
                                    >
                                      Le choix du mois est obligatoire.
                                    </div>
                                  </div>
                                </div>

                                <!-- Emploi du Temps -->
                                <div class="mb-3">
                                  <label
                                    for="editEmploiTemps"
                                    class="form-label"
                                  >
                                    <b>Emploi du Temps</b>
                                  </label>
                                  <textarea
                                    class="form-control formtexterea"
                                    id="editEmploiTemps"
                                    name="editEmploiTemps"
                                    [(ngModel)]="formDataIns.emploidutemp"
                                    rows="5"
                                    placeholder="Saisir l'emploi du temps..."
                                  ></textarea>
                                </div>
                              </div>

                              <div class="modal-footer justify-content-center">
                                <!-- Success message container -->
                                <div
                                  class="container bootstrap snippets bootdey"
                                >
                                  <div
                                    *ngIf="successMessage"
                                    class="alert alert-success alert-white rounded mx-auto w-75"
                                    role="alert"
                                  >
                                    <div class="icon">
                                      <i
                                        class="fa-solid fa-group-arrows-rotate"
                                      ></i>
                                    </div>
                                    <strong>Succès!</strong>
                                    {{ successMessage }}
                                  </div>
                                </div>
                                <button
                                  type="submit"
                                  [disabled]="
                                    registrationForm.invalid || isLoading
                                  "
                                  class="btn btn-primary-btn"
                                  style="
                                    background-color: #e4c218;
                                    border: 3px solid rgba(255, 242, 0, 0.721);
                                    color: white;
                                    font-weight: bolder;
                                    border-radius: 50px;
                                  "
                                >
                                  <ng-container *ngIf="!isLoading">
                                    <i class="fa-solid fa-plus"></i> S'inscrire
                                  </ng-container>
                                  <ng-container *ngIf="isLoading">
                                    <i
                                      class="fa fa-spinner fa-spin text-white"
                                    ></i>
                                    En cours...
                                  </ng-container>
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                        <!-- End of Card Container -->
                      </div>
                    </div>
                  </div>
                  <!-- End of Modal -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
