<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>

<section>
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar" style="border-radius: 5%">
    <!-- Logo Section -->
    <div class="sidebar-logo" style="text-align: center">
      <img
        src="assets/images/icon-campus.png"
        alt="Logo"
        style="max-width: 50%"
      />
    </div>

    <ul class="sidebar-nav" id="sidebar-nav" style="margin-top: 10px">
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          routerLink="/menu-admin/dashboard"
          routerLinkActive="active"
        >
          <i
            class="fa fa fa-chart-line iconmenu"
            style="margin-right: 10px; color: #000000"
          ></i>
          <span>Dashboard</span>
        </a>
      </li>
      <!-- passager -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          routerLink="/menu-admin/passager"
          routerLinkActive="active"
        >
          <i
            class="fa fa-globe iconmenu"
            style="margin-right: 10px; color: #000000"
          ></i>
          <span>Passager</span>
        </a>
      </li>
      <!--inscription new user-->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          routerLink="/menu-admin/inscriptions"
          routerLinkActive="active"
          ><span>
            <i
              class="fa-solid fa-users iconmenu"
              style="margin-right: 10px; color: #000000"
            ></i
            >Inscription</span
          >
        </a>
      </li>
      <br />
      <div class="hr-container">
        <hr
          style="
            border: 4px double #008cc7;
            width: 100%;
            margin: auto;
            border-radius: 100px;
          "
        />
        <span class="hr-text">
          <img src="assets/images/add.png" alt="Logo" style="max-width: 50%" />
        </span>
      </div>
      <br />
      <!-- Etudiants -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          routerLink="/menu-admin/etudiant"
          routerLinkActive="active"
        >
          <i
            class="fa-solid fa-users-rectangle iconmenu"
            style="margin-right: 10px; color: #000000"
          ></i>

          <span>Etudiants</span>
        </a>
      </li>
      <!-- Paiement -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          routerLink="/menu-admin/paiement"
          routerLinkActive="active"
        >
          <i
            class="fa-solid fa-credit-card iconmenu"
            style="margin-right: 10px; color: #000000"
          ></i>

          <span>Statut Financier</span>
        </a>
      </li>
      <!-- Bibliothèque scolaire -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          routerLink="/menu-admin/bibliotheque"
          routerLinkActive="active"
        >
          <i
            class="fa fa-book-open iconmenu"
            style="margin-right: 10px; color: #000000"
          ></i>
          <span>Bibliothèque scolaire</span>
        </a>
      </li>
      <!-- gestion scolaire -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          routerLink="/menu-admin/Gestion-Annuelle"
          routerLinkActive="active"
        >
          <i
            class="fa fa-bars-progress iconmenu"
            style="margin-right: 10px; color: #000000"
          ></i>
          <span>Gestion Annuelle</span>
        </a>
      </li>
      
      <!-- Professeurs -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          routerLink="/menu-admin/professeurs"
          routerLinkActive="active"
        >
          <i
            class="fa fa-user-tie iconmenu"
            style="margin-right: 10px; color: #000000"
          ></i>
          <span>Professeurs</span>
        </a>
      </li>
      <!-- End Subjects Nav -->
      <!-- Établissements -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          routerLink="/menu-admin/etablissements"
          routerLinkActive="active"
        >
          <i
            class="fa fa-school iconmenu"
            style="margin-right: 10px; color: #000000"
          ></i>
          <span>Établissements</span>
        </a>
      </li>
      <!-- Niveaux -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          routerLink="/menu-admin/niveaux"
          routerLinkActive="active"
        >
          <i
            class="fa fa-layer-group iconmenu"
            style="margin-right: 10px; color: #000000"
          ></i>
          <span>Niveaux</span>
        </a>
      </li>
      <!-- Matières -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          routerLink="/menu-admin/matiere"
          routerLinkActive="active"
        >
          <i
            class="fa fa-book iconmenu"
            style="margin-right: 10px; color: #000000"
          ></i>
          <span>Matières</span>
        </a>
      </li>
      <!--cours-->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          routerLink="/menu-admin/cours"
          routerLinkActive="active"
        >
          <i
            class="fa fa-chalkboard iconmenu"
            style="margin-right: 10px; color: #000000"
          ></i>

          <span>Cours</span>
        </a>
      </li>
      <!-- Groupes -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          routerLink="/menu-admin/groupes"
          routerLinkActive="active"
        >
          <i
            class="fa fa-users iconmenu"
            style="margin-right: 10px; color: #000000"
          ></i>
          <span>Groupes</span>
        </a>
      </li>
      <hr
        style="
          height: 6px;
          border: none;
          border-top: 6px dashed rgb(165, 146, 51);
          border-radius: 100px;
          margin-top: 9%;
        "
      />
      <!-- End Schools Nav -->
    </ul>
  </aside>

  <!-- End Sidebar -->

  <section>
    <div id="main-content">
      <router-outlet></router-outlet>
    </div>
  </section>
</section>
