<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
  crossorigin="anonymous"
/>

<div class="row" style="padding-top: 3%">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-4">
      <!-- Card 1 -->
      <div
        class="card draggable"
        style="
          max-width: 800px;
          width: 100%;
          background-color: rgba(252, 247, 217, 0.804);
        "
      >
        <div class="card-body">
          <div class="row">
            <!-- Image -->
            <div class="col-12 text-center mb-3">
              <img
                src="assets/images/title-campus.png"
                alt="Dashboard Image"
                class="img-fluid"
                style="max-width: 50%; height: auto"
              />
            </div>
            <hr style="height: 10%; background-color: black" />

            <!-- Optional subtitle or description -->
            <p class="text-center text-muted">
              <img
                src="assets/images/iconhand.png"
                alt="Image"
                style="width: 20px; height: 20px"
              />
              Bienvenue sur votre tableau de bord. Obtenez un aperçu de vos
              statistiques.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="loadingResume" style="text-align: center">
      <div>
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Chargement...</span>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!loadingResume">
      <div class="dashboard-container">
        <div class="row">
          <!-- Column 1 (for Donut Chart) -->
          <div class="col-8">
            <!-- Card for Donut Chart -->
            <div class="card card-donut">
              <h3>Nombre de Groupes par Matière</h3>
              <hr style="border: 7px double rgba(12, 123, 174, 0.763)" />

              <apx-chart
                [series]="chartDataGroupesParMatiere.series"
                [chart]="chartDataGroupesParMatiere.chart"
                [labels]="chartDataGroupesParMatiere.labels"
                [legend]="chartDataGroupesParMatiere.legend"
                [colors]="chartDataGroupesParMatiere.colors"
                [tooltip]="chartDataGroupesParMatiere.tooltip"
              ></apx-chart>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card draggable" style="border-top: 4px solid #ffbb00">
              <div class="card-body">
                <div class="row">
                  <div class="col mt-0">
                    <h4 class="card-title">Nombre de groupes</h4>
                  </div>
                  <div class="col-auto">
                    <div class="stat text-primary">
                      <!-- Circle with icon inside -->
                      <div
                        class="icon-circle"
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          background-color: #ffbb00;
                          border-radius: 50%;
                          width: 40px;
                          height: 40px;
                        "
                      >
                        <i class="fas fa-users" style="color: white"></i>
                        <!-- Professor icon -->
                      </div>
                    </div>
                  </div>
                </div>
                <h1 class="mt-1 mb-3">{{ resume.nombreGroupes }}</h1>
              </div>
            </div>

            <div
              class="card draggable"
              style="border-top: 4px solid rgb(55, 110, 145)"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col mt-0">
                    <h4 class="card-title">Nombre de Passagers</h4>
                  </div>
                  <div class="col-auto">
                    <div class="stat text-primary">
                      <!-- Circle with icon inside -->
                      <div
                        class="icon-circle"
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          background-color: rgb(55, 110, 145);
                          border-radius: 50%;
                          width: 40px;
                          height: 40px;
                        "
                      >
                        <i class="fas fa-user" style="color: white"></i>
                        <!-- Student icon -->
                      </div>
                    </div>
                  </div>
                </div>
                <h1 class="mt-1 mb-3">{{ resume.nombreEtudiantsPassage }}</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Column 2 -->
          <div class="col-8">
            <div class="card card-donut">
              <br />
              <h3>CA Total</h3>
              <hr style="border: 7px double rgba(12, 123, 174, 0.763)" />
              <select
                class="form-select form-select-sm mb-3"
                [(ngModel)]="chartDataAnnuelleDate"
                (change)="getAnnulle()"
              >
                <option value="" disabled selected>Choisir une année</option>
                <option value="2024/2025">2024/2025</option>
                <option value="2025/2026">2025/2026</option>
                <option value="2026/2027">2026/2027</option>
                <option value="2027/2028">2027/2028</option>
                <option value="2028/2029">2028/2029</option>
                <option value="2029/2030">2029/2030</option>
                <option value="2030/2031">2030/2031</option>
                <option value="2031/2032">2031/2032</option>
                <option value="2032/2033">2032/2033</option>
                <option value="2033/2034">2033/2034</option>
                <option value="2034/2035">2034/2035</option>
                <option value="2035/2036">2035/2036</option>
                <option value="2036/2037">2036/2037</option>
                <option value="2037/2038">2037/2038</option>
                <option value="2038/2039">2038/2039</option>
                <option value="2039/2040">2039/2040</option>
                <option value="2040/2041">2040/2041</option>
                <option value="2041/2042">2041/2042</option>
                <option value="2042/2043">2042/2043</option>
                <option value="2043/2044">2043/2044</option>
                <option value="2044/2045">2044/2045</option>
                <option value="2045/2046">2045/2046</option>
                <option value="2046/2047">2046/2047</option>
                <option value="2047/2048">2047/2048</option>
                <option value="2048/2049">2048/2049</option>
                <option value="2049/2050">2049/2050</option>
                <option value="2050/2051">2050/2051</option>
                <option value="2051/2052">2051/2052</option>
                <option value="2052/2053">2052/2053</option>
                <option value="2053/2054">2053/2054</option>
                <option value="2054/2055">2054/2055</option>
                <option value="2055/2056">2055/2056</option>
                <option value="2056/2057">2056/2057</option>
                <option value="2057/2058">2057/2058</option>
                <option value="2058/2059">2058/2059</option>
                <option value="2059/2060">2059/2060</option>
                <option value="2060/2061">2060/2061</option>
                <option value="2061/2062">2061/2062</option>
                <option value="2062/2063">2062/2063</option>
                <option value="2063/2064">2063/2064</option>
              </select>
              <div *ngIf="loadingAnnuelle" style="text-align: center">
                <div>
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Chargement...</span>
                  </div>
                </div>
              </div>
              <apx-chart
                *ngIf="!loadingAnnuelle"
                [series]="chartDataAnnuelle.series"
                [chart]="chartDataAnnuelle.chart"
                [labels]="chartDataAnnuelle.labels"
                [legend]="chartDataAnnuelle.legend"
                [colors]="chartDataAnnuelle.colors"
                [tooltip]="chartDataAnnuelle.tooltip"
              ></apx-chart>
              <br /><br /><br />
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card draggable" style="border-top: 4px solid #ca2626be">
              <div class="card-body">
                <div class="row">
                  <div class="col mt-0">
                    <h4 class="card-title">Nombre d'Étudiants</h4>
                  </div>
                  <div class="col-auto">
                    <div class="stat text-primary">
                      <!-- Circle with icon inside -->
                      <div
                        class="icon-circle"
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          background-color: #ca2626be;
                          border-radius: 50%;
                          width: 40px;
                          height: 40px;
                        "
                      >
                        <i
                          class="fas fa-user-graduate"
                          style="color: white"
                        ></i>
                        <!-- Student icon -->
                      </div>
                    </div>
                  </div>
                </div>
                <h1 class="mt-1 mb-3">{{ resume.nombreEtudiants }}</h1>
              </div>
            </div>

            <div class="card draggable" style="border-top: 4px solid #ffbb00">
              <div class="card-body">
                <div class="row">
                  <div class="col mt-0">
                    <h4 class="card-title">Nombre de cours</h4>
                  </div>
                  <div class="col-auto">
                    <div class="stat text-primary">
                      <!-- Circle with icon inside -->
                      <div
                        class="icon-circle"
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          background-color: #ffbb00;
                          border-radius: 50%;
                          width: 40px;
                          height: 40px;
                        "
                      >
                        <i class="fas fa-book" style="color: white"></i>
                        <!-- Student icon -->
                      </div>
                    </div>
                  </div>
                </div>
                <h1 class="mt-1 mb-3">{{ resume.nombreCours }}</h1>
              </div>
            </div>

            <div class="card draggable" style="border-top: 4px solid #376e91">
              <div class="card-body">
                <div class="row">
                  <div class="col mt-0">
                    <h5 class="card-title">Nombre de Professeurs</h5>
                  </div>
                  <div class="col-auto">
                    <div class="stat text-primary">
                      <!-- Circle with icon inside -->
                      <div
                        class="icon-circle"
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          background-color: rgb(55, 110, 145);
                          border-radius: 50%;
                          width: 40px;
                          height: 40px;
                        "
                      >
                        <i
                          class="fas fa-chalkboard-teacher"
                          style="color: white"
                        ></i>
                        <!-- Professor icon -->
                      </div>
                    </div>
                  </div>
                </div>
                <h1 class="mt-1 mb-3">{{ resume.nombreProfs }}</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <!-- Card for Chart 1 -->
            <div class="card card-chart1">
              <h3>Nombre d'inscriptions</h3>
              <div
                *ngIf="loadingInscriptionsParAnnee"
                style="text-align: center"
              >
                <div>
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Chargement...</span>
                  </div>
                </div>
              </div>
              <apx-chart
                *ngIf="!loadingInscriptionsParAnnee"
                [series]="chartDataInscriptionsParAnnee.series"
                [chart]="chartDataInscriptionsParAnnee.chart"
                [xaxis]="chartDataInscriptionsParAnnee.xaxis"
                [colors]="chartDataInscriptionsParAnnee.colors"
              ></apx-chart>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Column 1 -->
          <div class="col">
            <!-- Card for Chart 2 -->
            <div class="card card-chart2">
              <h3>CA Mensuel</h3>
              <br />
              <!-- Dropdown for Months -->
              <select
                class="form-select form-select-sm mb-3"
                [(ngModel)]="anneePaiementsPonctuels"
                (change)="getPaiementsPonctuelsParAnnee()"
              >
                <option value="" disabled selected>Choisir une année</option>
                <option value="2024/2025">2024/2025</option>
                <option value="2025/2026">2025/2026</option>
                <option value="2026/2027">2026/2027</option>
                <option value="2027/2028">2027/2028</option>
                <option value="2028/2029">2028/2029</option>
                <option value="2029/2030">2029/2030</option>
                <option value="2030/2031">2030/2031</option>
                <option value="2031/2032">2031/2032</option>
                <option value="2032/2033">2032/2033</option>
                <option value="2033/2034">2033/2034</option>
                <option value="2034/2035">2034/2035</option>
                <option value="2035/2036">2035/2036</option>
                <option value="2036/2037">2036/2037</option>
                <option value="2037/2038">2037/2038</option>
                <option value="2038/2039">2038/2039</option>
                <option value="2039/2040">2039/2040</option>
                <option value="2040/2041">2040/2041</option>
                <option value="2041/2042">2041/2042</option>
                <option value="2042/2043">2042/2043</option>
                <option value="2043/2044">2043/2044</option>
                <option value="2044/2045">2044/2045</option>
                <option value="2045/2046">2045/2046</option>
                <option value="2046/2047">2046/2047</option>
                <option value="2047/2048">2047/2048</option>
                <option value="2048/2049">2048/2049</option>
                <option value="2049/2050">2049/2050</option>
                <option value="2050/2051">2050/2051</option>
                <option value="2051/2052">2051/2052</option>
                <option value="2052/2053">2052/2053</option>
                <option value="2053/2054">2053/2054</option>
                <option value="2054/2055">2054/2055</option>
                <option value="2055/2056">2055/2056</option>
                <option value="2056/2057">2056/2057</option>
                <option value="2057/2058">2057/2058</option>
                <option value="2058/2059">2058/2059</option>
                <option value="2059/2060">2059/2060</option>
                <option value="2060/2061">2060/2061</option>
                <option value="2061/2062">2061/2062</option>
                <option value="2062/2063">2062/2063</option>
                <option value="2063/2064">2063/2064</option>
              </select>
              <div *ngIf="loadingPaiementsPonctuels" style="text-align: center">
                <div>
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Chargement...</span>
                  </div>
                </div>
              </div>

              <apx-chart
                *ngIf="!loadingPaiementsPonctuels"
                [series]="chartDataPaiementsPonctuelsParAnnee.series"
                [chart]="chartDataPaiementsPonctuelsParAnnee.chart"
                [xaxis]="chartDataPaiementsPonctuelsParAnnee.xaxis"
                [colors]="chartDataPaiementsPonctuelsParAnnee.colors"
                [tooltip]="chartDataPaiementsPonctuelsParAnnee.tooltip"
              ></apx-chart>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Column 1 -->
          <div class="col">
            <!-- Card for Chart 2 -->
            <div class="card card-chart2">
              <h3>CA Scolarité</h3>
              <br />
              <!-- Dropdown for Months -->
              <select
                class="form-select form-select-sm mb-3"
                [(ngModel)]="anneePaiementsInscriptions"
                (change)="getPaiementsInscriptionsParAnnee()"
              >
                <option value="" disabled selected>Choisir une année</option>
                <option value="2024/2025">2024/2025</option>
                <option value="2025/2026">2025/2026</option>
                <option value="2026/2027">2026/2027</option>
                <option value="2027/2028">2027/2028</option>
                <option value="2028/2029">2028/2029</option>
                <option value="2029/2030">2029/2030</option>
                <option value="2030/2031">2030/2031</option>
                <option value="2031/2032">2031/2032</option>
                <option value="2032/2033">2032/2033</option>
                <option value="2033/2034">2033/2034</option>
                <option value="2034/2035">2034/2035</option>
                <option value="2035/2036">2035/2036</option>
                <option value="2036/2037">2036/2037</option>
                <option value="2037/2038">2037/2038</option>
                <option value="2038/2039">2038/2039</option>
                <option value="2039/2040">2039/2040</option>
                <option value="2040/2041">2040/2041</option>
                <option value="2041/2042">2041/2042</option>
                <option value="2042/2043">2042/2043</option>
                <option value="2043/2044">2043/2044</option>
                <option value="2044/2045">2044/2045</option>
                <option value="2045/2046">2045/2046</option>
                <option value="2046/2047">2046/2047</option>
                <option value="2047/2048">2047/2048</option>
                <option value="2048/2049">2048/2049</option>
                <option value="2049/2050">2049/2050</option>
                <option value="2050/2051">2050/2051</option>
                <option value="2051/2052">2051/2052</option>
                <option value="2052/2053">2052/2053</option>
                <option value="2053/2054">2053/2054</option>
                <option value="2054/2055">2054/2055</option>
                <option value="2055/2056">2055/2056</option>
                <option value="2056/2057">2056/2057</option>
                <option value="2057/2058">2057/2058</option>
                <option value="2058/2059">2058/2059</option>
                <option value="2059/2060">2059/2060</option>
                <option value="2060/2061">2060/2061</option>
                <option value="2061/2062">2061/2062</option>
                <option value="2062/2063">2062/2063</option>
                <option value="2063/2064">2063/2064</option>
              </select>
              <div
                *ngIf="loadingPaiementsInscriptions"
                style="text-align: center"
              >
                <div>
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Chargement...</span>
                  </div>
                </div>
              </div>

              <apx-chart
                *ngIf="!loadingPaiementsInscriptions"
                [series]="chartDataPaiementsInscriptionsParAnnee.series"
                [chart]="chartDataPaiementsInscriptionsParAnnee.chart"
                [xaxis]="chartDataPaiementsInscriptionsParAnnee.xaxis"
                [colors]="chartDataPaiementsInscriptionsParAnnee.colors"
                [tooltip]="chartDataInscriptionsParAnnee.tooltip"
              ></apx-chart>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Charges Par Annee -->
          <div class="col">
            <div class="card card-chart2">
              <h3>Charges</h3>
              <br />
              <select
                class="form-select form-select-sm mb-3"
                [(ngModel)]="anneeCharges"
                (change)="getChargesParAnnee()"
              >
                <option value="" disabled selected>Choisir une année</option>
                <option value="2024/2025">2024/2025</option>
                <option value="2025/2026">2025/2026</option>
                <option value="2026/2027">2026/2027</option>
                <option value="2027/2028">2027/2028</option>
                <option value="2028/2029">2028/2029</option>
                <option value="2029/2030">2029/2030</option>
                <option value="2030/2031">2030/2031</option>
                <option value="2031/2032">2031/2032</option>
                <option value="2032/2033">2032/2033</option>
                <option value="2033/2034">2033/2034</option>
                <option value="2034/2035">2034/2035</option>
                <option value="2035/2036">2035/2036</option>
                <option value="2036/2037">2036/2037</option>
                <option value="2037/2038">2037/2038</option>
                <option value="2038/2039">2038/2039</option>
                <option value="2039/2040">2039/2040</option>
                <option value="2040/2041">2040/2041</option>
                <option value="2041/2042">2041/2042</option>
                <option value="2042/2043">2042/2043</option>
                <option value="2043/2044">2043/2044</option>
                <option value="2044/2045">2044/2045</option>
                <option value="2045/2046">2045/2046</option>
                <option value="2046/2047">2046/2047</option>
                <option value="2047/2048">2047/2048</option>
                <option value="2048/2049">2048/2049</option>
                <option value="2049/2050">2049/2050</option>
                <option value="2050/2051">2050/2051</option>
                <option value="2051/2052">2051/2052</option>
                <option value="2052/2053">2052/2053</option>
                <option value="2053/2054">2053/2054</option>
                <option value="2054/2055">2054/2055</option>
                <option value="2055/2056">2055/2056</option>
                <option value="2056/2057">2056/2057</option>
                <option value="2057/2058">2057/2058</option>
                <option value="2058/2059">2058/2059</option>
                <option value="2059/2060">2059/2060</option>
                <option value="2060/2061">2060/2061</option>
                <option value="2061/2062">2061/2062</option>
                <option value="2062/2063">2062/2063</option>
                <option value="2063/2064">2063/2064</option>

                <!-- Ajoutez d'autres options ici -->
              </select>
              <div *ngIf="loadingCharges" style="text-align: center">
                <div>
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Chargement...</span>
                  </div>
                </div>
              </div>

              <apx-chart
                *ngIf="!loadingCharges"
                [series]="chartDataChargesParAnnee.series"
                [chart]="chartDataChargesParAnnee.chart"
                [xaxis]="chartDataChargesParAnnee.xaxis"
                [colors]="chartDataChargesParAnnee.colors"
                [tooltip]="chartDataChargesParAnnee.tooltip"
              ></apx-chart>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Net Par Annee -->
          <div class="col">
            <div class="card card-chart2">
              <h3>CA Global</h3>
              <br />
              <select
                class="form-select form-select-sm mb-3"
                [(ngModel)]="anneeNet"
                (change)="getNetParAnnee()"
              >
                <option value="" disabled selected>Choisir une année</option>
                <option value="2024/2025">2024/2025</option>
                <option value="2025/2026">2025/2026</option>
                <option value="2026/2027">2026/2027</option>
                <option value="2027/2028">2027/2028</option>
                <option value="2028/2029">2028/2029</option>
                <option value="2029/2030">2029/2030</option>
                <option value="2030/2031">2030/2031</option>
                <option value="2031/2032">2031/2032</option>
                <option value="2032/2033">2032/2033</option>
                <option value="2033/2034">2033/2034</option>
                <option value="2034/2035">2034/2035</option>
                <option value="2035/2036">2035/2036</option>
                <option value="2036/2037">2036/2037</option>
                <option value="2037/2038">2037/2038</option>
                <option value="2038/2039">2038/2039</option>
                <option value="2039/2040">2039/2040</option>
                <option value="2040/2041">2040/2041</option>
                <option value="2041/2042">2041/2042</option>
                <option value="2042/2043">2042/2043</option>
                <option value="2043/2044">2043/2044</option>
                <option value="2044/2045">2044/2045</option>
                <option value="2045/2046">2045/2046</option>
                <option value="2046/2047">2046/2047</option>
                <option value="2047/2048">2047/2048</option>
                <option value="2048/2049">2048/2049</option>
                <option value="2049/2050">2049/2050</option>
                <option value="2050/2051">2050/2051</option>
                <option value="2051/2052">2051/2052</option>
                <option value="2052/2053">2052/2053</option>
                <option value="2053/2054">2053/2054</option>
                <option value="2054/2055">2054/2055</option>
                <option value="2055/2056">2055/2056</option>
                <option value="2056/2057">2056/2057</option>
                <option value="2057/2058">2057/2058</option>
                <option value="2058/2059">2058/2059</option>
                <option value="2059/2060">2059/2060</option>
                <option value="2060/2061">2060/2061</option>
                <option value="2061/2062">2061/2062</option>
                <option value="2062/2063">2062/2063</option>
                <option value="2063/2064">2063/2064</option>
              </select>
              <div *ngIf="loadingNet" style="text-align: center">
                <div>
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Chargement...</span>
                  </div>
                </div>
              </div>

              <apx-chart
                *ngIf="!loadingNet"
                [series]="chartDataNetParAnnee.series"
                [chart]="chartDataNetParAnnee.chart"
                [xaxis]="chartDataNetParAnnee.xaxis"
                [colors]="chartDataNetParAnnee.colors"
                [tooltip]="chartDataNetParAnnee.tooltip"
              ></apx-chart>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Card for Table with Dropdowns -->
          <div class="card card-table">
            <div class="d-flex justify-content-between align-items-center">
              <h3>Etat Paiement Professeurs</h3>
              <button class="btn btn-primary" (click)="print()">
                Imprimer
              </button>
            </div>

            <!-- Dropdowns for Prof, Année, Mois -->
            <div class="filter-options mb-3">
              <label class="form-label">Filtrer par :</label>
              <!-- Dropdowns Inline -->
              <div class="d-flex mb-3">
                <!-- Prof Dropdown -->
                <select
                  id="profDropdown"
                  class="form-select me-3"
                  [(ngModel)]="profId"
                  (change)="getListEtud()"
                  required
                  #profInput="ngModel"
                >
                  <!-- Placeholder Option -->
                  <option value="" disabled [ngValue]="null">
                    Sélectionnez un prof
                  </option>
                  <option
                    *ngFor="let professor of profsList"
                    [value]="professor.id"
                  >
                    {{ professor.nom }} {{ professor.prenom }}
                  </option>
                </select>

                <!-- Année Dropdown -->
                <select
                  class="form-select me-3"
                  id="anneeDropdown"
                  [(ngModel)]="annee"
                  (change)="getListEtud()"
                >
                  <option value="2024/2025">2024/2025</option>
                  <option value="2025/2026">2025/2026</option>
                  <option value="2026/2027">2026/2027</option>
                  <option value="2027/2028">2027/2028</option>
                  <option value="2028/2029">2028/2029</option>
                  <option value="2029/2030">2029/2030</option>
                  <option value="2030/2031">2030/2031</option>
                  <option value="2031/2032">2031/2032</option>
                  <option value="2032/2033">2032/2033</option>
                  <option value="2033/2034">2033/2034</option>
                  <option value="2034/2035">2034/2035</option>
                  <option value="2035/2036">2035/2036</option>
                  <option value="2036/2037">2036/2037</option>
                  <option value="2037/2038">2037/2038</option>
                  <option value="2038/2039">2038/2039</option>
                  <option value="2039/2040">2039/2040</option>
                  <option value="2040/2041">2040/2041</option>
                  <option value="2041/2042">2041/2042</option>
                  <option value="2042/2043">2042/2043</option>
                  <option value="2043/2044">2043/2044</option>
                  <option value="2044/2045">2044/2045</option>
                  <option value="2045/2046">2045/2046</option>
                  <option value="2046/2047">2046/2047</option>
                  <option value="2047/2048">2047/2048</option>
                  <option value="2048/2049">2048/2049</option>
                  <option value="2049/2050">2049/2050</option>
                  <option value="2050/2051">2050/2051</option>
                  <option value="2051/2052">2051/2052</option>
                  <option value="2052/2053">2052/2053</option>
                  <option value="2053/2054">2053/2054</option>
                  <option value="2054/2055">2054/2055</option>
                  <option value="2055/2056">2055/2056</option>
                  <option value="2056/2057">2056/2057</option>
                  <option value="2057/2058">2057/2058</option>
                  <option value="2058/2059">2058/2059</option>
                  <option value="2059/2060">2059/2060</option>
                  <option value="2060/2061">2060/2061</option>
                  <option value="2061/2062">2061/2062</option>
                  <option value="2062/2063">2062/2063</option>
                  <option value="2063/2064">2063/2064</option>
                </select>

                <!-- Mois Dropdown -->
                <select
                  class="form-select"
                  id="moisDropdown"
                  [(ngModel)]="mois"
                  (change)="getListEtud()"
                >
                  <option value="1">Janvier</option>
                  <option value="2">Février</option>
                  <option value="3">Mars</option>
                  <option value="4">Avril</option>
                  <option value="5">Mai</option>
                  <option value="6">Juin</option>
                  <option value="7">Juillet</option>
                  <option value="8">Août</option>
                  <option value="9">Septembre</option>
                  <option value="10">Octobre</option>
                  <option value="11">Novembre</option>
                  <option value="12">Décembre</option>
                </select>
              </div>
            </div>

            <div>
              <!-- Table displaying Nom, Prénom, Etablissement, Niveaux -->
              <div
                class="table-responsive"
                style="max-height: 500px; overflow-y: auto"
              >
                <div *ngIf="loadingEtu" style="text-align: center">
                  <div>
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Chargement...</span>
                    </div>
                  </div>
                </div>
                <table
                  class="table table-striped mt-3"
                  *ngIf="!loadingEtu"
                  id="printSection"
                >
                  <thead>
                    <tr>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th>Niveau</th>
                      <th>Matière</th>
                      <th>Tarif</th>
                      <th>Payé</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let e of listEtu">
                      <td>{{ e.nom }}</td>
                      <td>{{ e.prenom }}</td>
                      <td>{{ e.niveau }}</td>
                      <td>{{ e.matiere }}</td>
                      <td>{{ e.tarif }}</td>
                      <td>{{ e.paye }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Details Étudiants Section -->
              <div class="total-etudiants mt-4">
                <div class="border p-3" *ngFor="let n of nbrEtud">
                  <h4>{{ n.cours }}: {{ n.nombreEtudiants }}</h4>
                </div>
              </div>

              <div class="total-etudiants mt-4">
                <div class="border p-3">
                  <h4>
                    <span
                      style="
                        background-color: #ffbb00;
                        padding: 5px;
                        border-radius: 5px;
                      "
                      >Total :</span
                    >
                    {{ somme }}
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
